:root {
  --dashboard-aside-w: 450px;
  --dashboard-aside-w-2xl: 500px;
  --dashboard-aside-w-3xl: 600px;
  --dashboard-p: theme('spacing.3');
  --dashboard-p-xl: theme('spacing.4');
  --dashboard-p-2xl: theme('spacing.8');
  --dashboard-p-3xl: theme('spacing.12');
  --dashboard-spacer: theme('spacing.1');
  --dashboard-spacer-xl: theme('spacing.2');
  --dashboard-spacer-2xl: theme('spacing.3');
  --dashboard-spacer-3xl: theme('spacing.4');
}

.dashboard {
  @apply flex flex-col relative;
  &-content {
    @apply flex-1 min-w-0 max-w-full box-border;
    padding: var(--dashboard-p) var(--dashboard-p) var(--dashboard-p) var(--dashboard-p);
  }
  &-aside {
    @apply box-border;
    &-sticky {
      @apply box-border;
      padding: var(--dashboard-p) var(--dashboard-p) var(--dashboard-p) var(--dashboard-p);
    }
  }
  &-spacer-y {
    padding: var(--dashboard-spacer) 0;
  }
  &-spacer-x {
    padding: 0 var(--dashboard-spacer);
  }
  &-spacer {
    padding: var(--dashboard-spacer);
  }
  &-panel {
    @apply rounded-lg shadow-lg bg-white h-full;
    &:not(.p-0) {
      @apply p-4;
    }
  }
}

@screen lg {
  .dashboard {
    @apply flex-row;
    &-content {
      padding: var(--dashboard-p) var(--dashboard-spacer) var(--dashboard-p) var(--dashboard-p);
      /* width: calc(100vw - var(--dashboard-aside-w)) */
    }
    &-aside {
      width: var(--dashboard-aside-w);
      &-sticky {
        /* @apply sticky top-0; */
        padding: var(--dashboard-p) var(--dashboard-p) var(--dashboard-p) var(--dashboard-spacer);
      }
    }
  }
}

@screen xl {
  .dashboard {
    &-content {
      padding: var(--dashboard-p-xl) var(--dashboard-spacer-xl) var(--dashboard-p-xl) var(--dashboard-p-xl);
    }
    &-aside {
      &-sticky {
        padding: var(--dashboard-p-xl) var(--dashboard-p-xl) var(--dashboard-p-xl) var(--dashboard-spacer-xl);
      }
    }
    &-spacer-y {
      padding: var(--dashboard-spacer-xl) 0;
    }
    &-spacer-x {
      padding: 0 var(--dashboard-spacer-xl);
    }
    &-spacer {
      padding: var(--dashboard-spacer-xl);
    }
  }
}

@screen 2xl {
  .dashboard {
    &-content {
      padding: var(--dashboard-p-2xl) var(--dashboard-spacer-2xl) var(--dashboard-p-2xl) var(--dashboard-p-2xl);
    }
    &-aside {
      width: var(--dashboard-aside-w-2xl);
      &-sticky {
        padding: var(--dashboard-p-2xl) var(--dashboard-p-2xl) var(--dashboard-p-2xl) var(--dashboard-spacer-2xl);
      }
    }
    &-spacer-y {
      padding: var(--dashboard-spacer-2xl) 0;
    }
    &-spacer-x {
      padding: 0 var(--dashboard-spacer-2xl);
    }
    &-spacer {
      padding: var(--dashboard-spacer-2xl);
    }
    &-panel:not(.p-0) {
      @apply p-6;
    }
  }
}

@screen 3xl {
  .dashboard {
    &-content {
      padding: var(--dashboard-p-3xl) var(--dashboard-spacer-3xl) var(--dashboard-p-3xl) var(--dashboard-p-3xl);
    }
    &-aside {
      width: var(--dashboard-aside-w-3xl);
      &-sticky {
        padding: var(--dashboard-p-3xl) var(--dashboard-p-3xl) var(--dashboard-p-3xl) var(--dashboard-spacer-3xl);
      }
    }
  }
}

/* @screen 4xl {
} */
