/* DayPicker styles */

.DayPicker {
  @apply inline text-base;
}

.DayPicker-wrapper {
  @apply relative flex-row select-none outline-none;
}

.DayPicker-Months {
  @apply flex flex-wrap justify-center;
}

.DayPicker-Month {
  @apply table border-collapse select-none;
  @apply mt-1 mx-1;
}

.DayPicker-NavBar {
  @apply absolute;
  top: theme('spacing.1');
  right: theme('spacing.1');
  left: auto;
}

.DayPicker-NavButton {
  @apply inline-block;
  @apply w-line-lg h-line-lg;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  @apply cursor-pointer;
}

.DayPicker-NavButton:hover {
  @apply opacity-50;
}

.DayPicker-NavButton--prev {
  @apply mr-1;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
  @apply opacity-0 !important;
}

.DayPicker-Caption {
  display: table-caption;
  @apply mb-1 px-1;
  @apply text-left;
}

.DayPicker-Caption > div {
  @apply font-bold;
}

.DayPicker-Weekdays {
  display: table-header-group;
  @apply mt-1;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  @apply text-center px-1 py-2 text-xs;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
  @apply mt-1;
}

.DayPicker-Week {
  display: table-row;
  &:not(:last-of-type) {
    @apply border-b border-r border-light;
  }
  &:not(:first-of-type) {
    @apply border-l border-light;
  }
  &:first-of-type {
    .DayPicker-Day {
      &:not(.DayPicker-Day--outside) {
        @apply border-t border-light;
      }
      &[aria-label] {
        @apply border-l border-light;
      }
    }
  }
  &:last-of-type {
    .DayPicker-Day {
      &:not(.DayPicker-Day--outside) {
        @apply border-b border-light;
      }
    }
  }
}

.DayPicker-Day {
  display: table-cell;
  @apply h-line-2xl w-line-2xl text-sm align-middle text-center cursor-pointer;
  &:not(:last-of-type):not(.DayPicker-Day--outside) {
    @apply border-r border-light;
  }
  &[aria-disabled="false"] {
    &:not([aria-selected="true"]) {
      &:hover {
        @apply bg-light;
      }
    }
  }
  &[aria-selected="true"] {
    &:not([aria-disabled="true"]) {
      @apply bg-brand font-bold text-white;
      &.DayPicker-Day--start {
        box-shadow: inset 0px -2px 0px 0px rgba(theme('colors.highlight-dark'), 1);
      }
      &.DayPicker-Day--end {
        box-shadow: inset 0px -2px 0px 0px rgba(theme('colors.highlight-alt-dark'), 1);
      }
    }
  }
  &:focus {
    @apply outline-none;
  }
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5em;
  min-width: 1em;
  border-right: 1px solid #EAECEC;
  color: #8B9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5em;
}

.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4A90E2;
  font-size: 0.875em;
  cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
  @apply font-bold underline;
}

.DayPicker-Day--outside {
  @apply opacity-0 text-brand-duller cursor-default;
}

.DayPicker-Day--disabled {
  @apply text-brand-duller cursor-default;
}

/* Example modifiers */

/* .DayPicker-Day--sunday {
  background-color: #F7F8F8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #DCE0E0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;

  background-color: #4A90E2;
  color: #F0F8FF;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51A0FA;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #F0F8FF;
} */

/* DayPickerInput */

/* .DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;

  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
} */
